table,
tr,
td,
th {
  border: 2px solid black;
}

#mainTable {
  border: 4px solid red;
}

#subTable1 {
  border: 3px solid yellow;
}

#subTable2 {
  border: 3px solid blue;
}

#subTable3 {
  border: 3px solid violet;
}

#subTable4 {
  border: 3px solid purple;
}

#striped_table,
#striped_table tr,
#striped_table th,
#striped_table td {
  border-collapse: collapse;
  border: 2px solid hsl(0, 0%, 83%);
  padding: 6px;
}

#striped_table th {
  background-color: gainsboro;
}

#striped_table tr:nth-child(odd) {
  background-color: hsl(0, 0%, 93%);
}
